apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  labels:
    {{- include "labels" . | nindent 4 }}
spec:
  selector:
    {{- include "labels" . | nindent 4 }}
  ports:
  - port: 80
    targetPort: 80
  type: ClusterIP
